# Dependencies
node_modules/
venv/
__pycache__/

# Build output
dist/

# Logs and Data
logs/
*.log
data.ms/

# System files
.DS_Store
.env
.env.local
.env*.local

# Project specific
*.backup.*
meilisearch
